<!DOCTYPE html>
<html ng-app="miAplicacion">
<head>
	<title>Controlador con Angular</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
	<meta charset="utf-8">
	<script src="controller.js"></script>
</head>
<body ng-controller="controlador1">
<h1>Controladores</h1>

<input type="text" ng-model="nuevocomentario.comentario">
<br>
<input type="text" ng-model="nuevocomentario.username">
<br>
<button ng-click="agregarcomentario()">Agregar Comentario</button>


	<h3>Comentarios</h3>

	<ul>
		
		<li ng-repeat="comentario in comentarios">
			{{comentario.comentario}} - <strong> {{comentario.username}}			

			</strong>
			
		</li>
	</ul>


</body>
</html>